#navigation #submenu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #EAE3C5;
  text-align: right;
  height: 20px;
  padding-top: 4px;
  overflow: hidden;
}

#navigation #submenu.empty {
  height: 4px;
}

#navigation #submenu div {
  margin: 0 20px;
}

#navigation #submenu a, #navigation #submenu a:visited {
  position: relative;
  background-color:transparent;
  color: #7d796c;
  display:inline;
  margin: 5px;
  outline-color: auto;
  outline-width: 0;
  padding: 0;
  font-size: 0.9em;
}

#navigation #submenu strong a, #navigation #submenu strong a:visited, #navigation #submenu a:hover {
  color: black;
  font-weight: normal;
}

#navigation a, #navigation a:visited {
  opacity: 0.8;
  color: #5e443a;
}

#navigation strong a, #navigation strong a:visited {
  background-color: #EAE3C5;
  opacity: 1;
  color: black;
}

#navigation a.fg, #navigation a.fg:visited {
  opacity: 1;
}

#content {
  margin-top: 10px;
}